@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1E1E1E;
  --primary-color: #fcfcfc;
  --neutral-color: rgb(53 53 53)
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--primary-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
